.header {
  background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}
.header__top {
  padding-top: 19px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo{
  z-index: 5;
  max-width: 173px;
}
.header__logo img{
  width: 100%;
}
.nav__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.nav__link-circle  {
  padding: 5px 0;
  position: relative;
  z-index: 1;
}
.nav__link-circle::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 50px;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}
.nav__link-circle:hover::before{
  opacity: 1;
}
.burger-icon{
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.burger-icon span::before,
.burger-icon span::after,
.burger-icon span{
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  transition: var(--transition);
  background: var(--general-text);
}
.burger-icon span{
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after{
  position: absolute;
  content: '';
}
.burger-icon span::before{
  top: -8px;
}
.burger-icon span::after{
  bottom: -8px;
}
.body--opened-menu .burger-icon span{
  background: transparent;
}
.body--opened-menu .burger-icon span::before{
  top: 0;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
  bottom: 0;
  transform: rotate(-45deg);
}
/* ================================================= */

.hero {
  padding: 50px 0 140px;
}
.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}
.hero__content {
  max-width: 519px;
}
.hero__info {
  color: #b197b3;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.hero__info span{
  display: flex;
  align-items: center;
}
.hero__info span::after{
  content: '';
  background: #b197b3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  margin: 0 10px;
}
.hero__info span:last-child::after{
  content: none;
}
.hero__title {
  margin-bottom: 30px;
  max-width: 520px;
}
.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}
.hero__img {
  margin-right: 247px;
  position: relative;
}
.hero__img>img{
  width: 100%;
}
.hero__img-control {
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 200px;
  gap: 10px;
  bottom: 11%;
  left: calc(100% - 39px);
}
.hero__img-control--mobile{
  display: none;
  margin-bottom: 10px;
}
.hero__img-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px 0px #b8947e4d;
  background: var(--accent-bg);
  position: relative;
}
.hero__img-button img{
  padding-left: 8.8%;
}
.hero__img-button::before{
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  inset: 5px;
  border-radius: 50%;
  transition: var(--transition);
  opacity: 0;
}
.hero__img-button:hover::before{
  opacity: 1; 
}
