@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* ================================================== */

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  gap: 40px 53px;
}
.about__img {
  grid-row: 1 / 3;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.about__gift {
  padding: 15px 20px;
  position: absolute;
  left: 5%;
  bottom: 4.6%;
  color: var(--general-bg);
  max-width: 299px;
  display: flex;
  gap: 10px;
  border-radius: 20px;
  background: #957b97e6;
}
.about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--general-bg);
  height: 78px;
  min-width: 78px;
  border-radius: 40px;
  position: relative;
}
.about__button::before{
  content: '';
  position: absolute;
  border-radius: 40px;
  transition: var(--transition);
  border: 1px solid #957b97e6;
  inset: 5px;
  opacity: 0;
}
.about__button:hover::before{
  opacity: 1;
}

.title-text{
  margin-bottom: 30px;
}
.about__cards {
  display: grid;
  width: 100%;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.about__cards-item {
  background: var(--accent-bg);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 29px 25px;
  gap: 15px;
}
.icon-circle {
  border: 1px solid var(--general-text);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* ============================================= */

.program__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}
.program__title {
  margin-bottom: 20px;
}

.program__tab-content{
  margin-bottom: 40px;
}
.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.program__action {
  display: grid;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  width: 100%;
  gap: 40px;
  max-width: 501px;
  flex-shrink: 0;
}
.program__discount {
  font-size: 20px;
  background: var(--accent-bg);
  padding: 40px;
  border-radius: 20px;
  grid-row: 1/3;
}
.program__discount-value{
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: .82;
  color: var(--accent-color);
  transform-origin: 0 0;
  margin: 0 0 7px 13%;
  animation: discount-grow .8s linear infinite alternate;
}
@keyframes discount-grow {
  0%{
    color: var(--accent-color);
  }
  100%{
    transform: translate(3%) scale(1.1);
    color: #FF9138;
  }
}
.program__discount span{
  margin-left: 35%;
  font-size: 16px;
}
.program__price-text {
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--accent-text-2);
  margin-bottom: 5px;
}
.program__price-value {
  font-family: 'Gabriola';
  font-size: 32px;
  line-height: .9;
  color: var(--general-text);
}
.program__price-value--big{
  font-size: 50px;
  color: var(--accent-text);
}
.program__button{
  grid-column: 1/-1;
}
.program__img img{
  width: 100%;
}

.tab-controls {
  display: flex;
  gap: 26px;
}
.tab-controls__item {
  margin-bottom: 24px;
}
.tab-controls__link {
  white-space: nowrap;
  padding: 16px 30px;
  background: var(--general-bg);
  box-shadow: 0px 4px 20px 0px #cec3b94d;
  border-radius: 100px;
  transition: var(--transition);
}
.tab-controls__link:hover{
  background: var(--accent-bg);
}
.tab-controls__link--focus{
  background: var(--accent-bg);
  box-shadow: none;
}
.tab-content {
  display: none;
  opacity: 0;
  transition: var(--transition);
}
.tab-content--show{
  display: block;
  opacity: 1;
}
.accordion-list__item {
  border: 1px solid var(--accent-color);
  transition: var(--transition);
  border-radius: 20px;
  margin-bottom: 30px;
}
.accordion-list__item:last-child{
  margin-bottom: 0;
}
.accordion-list__control {
  padding: 40px 30px;
  width: 100%;
  background: transparent;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-family: 'Gabriola';
  font-size: 42px;
  line-height: 90%;
  color: var(--accent-text);
  transition: var(--transition);
}
.accordion-list__item--opened .accordion-list__control{
  padding-bottom: 20px;
}
.accordion-list__control-icon {
  transition: all .6s;
  width: 36px;
  height: 36px;
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.accordion-list__content {
  overflow: hidden;
  max-height: 0;
  transition: var(--transition);
}

.accordion-content {
  padding: 0 30px 40px;
  display: flex;
  gap: 80px;
}
.accordion-content__col {
  max-width: 507px;
  width: 100%;
}
.accordion-content__col:last-child{
  max-width: 633px;
}
.accordion-content__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--accent-text-2);
  line-height: 1.6;
}
.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.accordion-content__item:last-child{
  margin-bottom: 0;
}
.accordion-content__icon {
  border: 1px solid var(--accent-text-2);
  padding: 7.2px;
  border-radius: 50%;
  width: 24;
  height: 24px;
}
.accordion-list__control:hover .accordion-list__control-icon{
  background: var(--accent-color);
  transform: rotate(90deg);
}
.accordion-list__control path{
  transition: var(--transition);
}
.accordion-list__control:hover path{
  fill: var(--general-bg);
}
.accordion-list__item--opened .accordion-list__control-icon{
  background: var(--accent-color);
  transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__control-icon path{
  fill: var(--general-bg);
}
.accordion-content__text {
  max-width: 274px;
}
/* ============================================= */

.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img{
  justify-self: center;
  align-self: center;
}
.gallery__img img{
  max-width: 100%;
}
.gallery__content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: end;
}
.gallery__info {
  max-width: 380px;
}
.gallery__title {
  margin-bottom: 20px;
}
.gallery__nav {
  display: flex;
  gap: 98px;
  align-items: center;
  position: relative;
}
.gallery__prev,
.gallery__next {
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
  cursor: default;
  border: 2px solid #e1d9e1;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
  fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
  border: 2px solid #e1d9e1;
  background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
  fill: #e1d9e1;
}
.gallery__prev:hover,
.gallery__next:hover{
  background: var(--accent-color);
}
.gallery__prev path,
.gallery__next path{
  transition: var(--transition);
}
.gallery__prev:hover path,
.gallery__next:hover path{
  fill: var(--general-bg);
}
.gallery__pagination {
  font-family: 'Gabriola';
  font-size: 42px;
  line-height: .9;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  bottom: auto;
}
.gallery__slide {
  border-radius: 20px;
  overflow: hidden;
}
.gallery__slide img{
  width: 100%;
}
/* ============================================= */
.testimonials__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 30px;
}
.testimonials__info {
  max-width: 632px;
}
.testimonials__title {
  margin-bottom: 20px;
}

.testimonials__nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
.testimonials__prev,
.testimonials__next {
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
  cursor: default;
  border: 2px solid #e1d9e1;
}
.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
  fill: #e1d9e1;
}
.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
  border: 2px solid #e1d9e1;
  background: transparent;
}
.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
  fill: #e1d9e1;
}
.testimonials__prev:hover,
.testimonials__next:hover{
  background: var(--accent-color);
}
.testimonials__prev path,
.testimonials__next path{
  transition: var(--transition);
}
.testimonials__prev:hover path,
.testimonials__next:hover path{
  fill: var(--general-bg);
}
.testimonials__slider {
  overflow: visible;
}
.testimonials__wrapper {
  margin-bottom: 40px;
}
.testimonials__slide {
  background: var(--accent-bg);
  border-radius: 20px;
  padding: 30px 30px 40px;
  display: flex;
  gap: 30px;
  transform: scale(.9);
  transition: var(--transition);
  opacity: 0;
  height: auto;
}
.swiper-slide-prev.testimonials__slide{
  opacity: 0.5;
}
.swiper-slide-next.testimonials__slide{
  opacity: 0.5;
}
.testimonials__slide.swiper-slide{
  transform: scale(.9);
}
.swiper-slide-active.testimonials__slide{
  transform: scale(1);
  opacity: 1;
}
.testimonials__student {
  max-width: 165px;
  flex-shrink: 0;
  text-align: center;
}
.testimonials__student-img{
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.testimonials__student-img img{
  width: 100%;
}
.testimonials__student-name {
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1.6;
  color: var(--accent-text);
}
.testimonials__student-inst {
  margin: 0 auto;
  color: var(--accent-text-2);
}
.testimonials__quote span{
  display: block;
  font-family: 'Gabriola';
  line-height: .9;
  font-size: 32px;
  color: var(--accent-text);
  margin-bottom: 10px;
}
.swiper-scrollbar-drag{
  background: var(--accent-color);
}
.testimonials__scrollbar.swiper-scrollbar{
  position: static;
  width: 100%;
  height: 7px;
}
.testimonials__scrollbar.testimonials__scrollbar{
  background: var(--accent-bg);
}
/* ============================================= */
.contact{
  padding: 140px 0;
  background: url("../img/decor/bg-contact.png") 50% 0% / cover no-repeat;
}
.contact__inner {
  display: flex;
  align-items: end;
  gap: 84px;
  position: relative;
}

.contact__inner::before{
  content: url("../img/decor/berries.png") ;
  position: absolute;
  top: -4%;
  left: 0%;
}
.contact__inner::after{
  content: url("../img/decor/berries-2.png") ;
  position: absolute;
  top: 4%;
  right: 0%;
}
.contact__img img{
  width: 100%;
  filter: drop-shadow(0px 4px 30px #c6b0a14d);
}
.contact__body {
  max-width: 420px;
}
.contact__title {
  margin-bottom: 20px;
}
.contact__text {
  margin-bottom: 40px;
}
.contact__label {
  margin-bottom: 10px;
}
.contact__input {
  background: transparent;
  display: block;
  font-size: 15px;
  border-radius: 60px;
  border: 1px solid var(--input-color);
  transition: var(--transition);
  padding: 19px 42px 19px 28px;
  width: 100%;
  margin-bottom: 20px;
}
.contact__input::placeholder{
  color: var (--input-color);
  transition: var(--transition);
  text-indent: -1px;
}
.contact__input:hover{
  border: 1px solid var(--accent-color);
}
.contact__input:hover::placeholder{
  color: var(--accent-color);
}
.contact__label-span.label-span{
  left: 6.7%;
}
.contact__check-label {
  display: flex;
  align-items: start;
  gap: 5px;
  max-width: 288px;
  font-size: 13px;
  margin-bottom: 20px;
}
.contact__check-label a{
  text-decoration: underline;
  transition: var(--transition);
}
.contact__check-label a:hover{
  color: var(--accent-color);
}
.contact__checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--input-color);
  transition: var(--transition);
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}
.contact__checkbox::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(../img/icons/check.svg) 50% 50% no-repeat;
  opacity: 0;
  transition: var(--transition);
}
.contact__checkbox:hover {
  border: 2px solid var(--accent-color);
}
.contact__checkbox:checked{
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}
.contact__checkbox:checked::before{
  opacity: 1;
}
/* ============================================= */
/* ============================================= */
/* ============================================= */

@media (max-width: 1200px){
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 15px;
  }
  .hero__img{
    margin: 0;
    max-width: 377px;
  }
  /* ======================= */
  .program__top{
    flex-direction: column;
    align-items: start;
  }
  .tab-controls{
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: end;
  }
  /* ======================= */
  .contact__inner::after{
    content: url("../img/decor/berries-2.png") ;
    position: absolute;
    top: -20%;
    right: 0%;
  }
  /* ======================= */
  .footer__inner{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__col-4{
    grid-column: 2 / 3;
  }
}

@media (max-width: 1100px){
  .about__img{
    grid-row: auto;
  }
  .about__desc{
    align-self: center;
  }
  .about__cards{
    grid-column: 1 / 3;
  }
  .accordion-list__control{
    font-size: 35px;
  }
  .accordion-content{
    flex-direction: column;
    gap: 25px;
  }
  /* ======================= */
  .contact__inner{
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 900px){
  .nav{
    background: var(--general-bg);
    position: fixed;
    z-index: 4;
    inset: 0;
    padding: 26vh 15px 30px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    font-size: 24px;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh 40px;
  }
  .body--opened-menu .nav{
    transform: translateY(0%);
    opacity: .95;
    visibility: visible;
  }
  .burger-icon{
    z-index: 5;
    display: flex;
  }
  
  /* ==================== */
  .program__action{
    max-width: none;
    grid-template: repeat(3, auto) / auto auto;
  }
  .program__img{
    display: none;
  }
  /* ==================== */

  .gallery__inner{
    grid-template-columns: none;
  }
  .gallery__info{
    max-width: none;
  }
  .gallery__img{
    display: none;
  }

  /* ==================== */
  .testimonials__scrollbar.swiper-scrollbar{
    width: 50%;
    margin: 0 auto;
  }
  /* ==================== */
  .contact__inner{
    justify-content: center;
  }
  .contact__img{
    display: none;
  }
  /* ==================== */
  .footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer__col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer__nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;}
  .footer__col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px){
  .hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .hero__text{
    margin-bottom: 20px;
  }
  .hero__img{
    display: none;
  }
  .hero__img-control--mobile{
    display: flex;
  }
  .hero__img-button{
    order: 2;
  }

  /* ============ */

  .about__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__img{
    max-width: 500px;
  }
  .about__desc{
    text-align: center;
  }
  .about__cards{
    grid-template: none;
  }
  /* ============ */
  .tab-controls{
    padding-top: 40px;
    gap: 10px;
  }
  /* ============= */
  .testimonials__inner {
    align-items: stretch;
    flex-direction: column;
  }
  .testimonials__nav{
    align-self: end;
  }
  /* ============= */
  .contact__inner::before{
    content: none;
  }
}

@media (max-width: 600px){
  .hero{
    padding-bottom: 80px;
  }
  .hero__title{
    font-size: 12vw;
  }

  /* ======================== */
  .main__about{
    padding: 80px 0;
  }
  .main__program,
  .main__gallery,
  .main__testimonials{
    padding-bottom: 80px;
  }
  .title{
    font-size: 12vw;
    text-align: center;
  }
  .about__gift{
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0%;
    max-width: none;
    padding: 10px 15px;
  }
  .gift-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__cards{
    gap: 15px;
  }
  .about__cards-item{
    padding: 10px 15px;
  }
  /* ================= */
  .program__top{
    text-align: center;
    margin-bottom: 30px;
  }
  .program__top p{
    justify-content: start;
  }
  .tab-controls{
    justify-content: center;
  }
  .accordion-content{
    padding: 0 15px 15px;
  }
  .accordion-list__control{
    padding: 17px 30px;
    font-size: 28px;
  }
  .accordion-list__control-icon {
    width: 26px;
    height: 26px;
  }
  .accordion-list__control-icon svg {
    width: 10px;
  }
  .program__action{
    gap: 15px;
  }
  .program__discount{
    grid-row: auto;
    grid-column: 1/-1;
    justify-self: center;
  }
  .accordion-list__item{
    margin-bottom: 15px;
  }
  .accordion-content__item{
    margin-bottom: 10px;
  }
  .accordion-content__title{
    margin-bottom: 10px;
  }
  /* =========================== */
  .gallery__inner{
    margin-bottom: 20px;
  }
  /* =========================== */
  .testimonials__inner{
    margin-bottom: 20px;
  }
  .testimonials__slide {
    align-items: center;
    flex-direction: column;
  }
  .testimonials__quote{
    text-align: center;
  }
  /* =========================== */
  .contact{
    padding-bottom: 80px;
  }
  .contact__title,
  .contact__text{
    text-align: center;
  }
}

@media (max-width: 450px){
  .program__top{
    margin-bottom: 20px;
  }
  .accordion-list__control{
    padding: 17px 15px;
  }
  .program__price{
    text-align: center;
  }
  .program__action{
    grid-template: none;
  }
  /* ======================= */
  .gallery__text{
    text-align: center;
  }
  .gallery__content{
    flex-direction: column;
    gap: 30px;
  }
  
  /* ======================= */
  .modal__window{
    display: flex;
    flex-direction: column;
    padding: 0 20px 40px;
    align-items: center;
  }
  .modal__title{
    text-align: center;
    font-size: 10vw;
  }
  .modal__text{
    text-align: center;
  }
  .modal__window>img{
    margin: -64px 0 15px 3%;
    width: 100%;
    padding: 0 15px;
  }
  .modal__form{
    width: 100%;
    max-width: 308px;
  }
  /* ================= */
  .testimonials__slide{
    padding: 30px 10px 30px;
  }
}
