:root{
  --general-text: #312C27;
  --accent-text: #1F1711;
  --general-bg: #fff9f4;
  --accent-color: #FFA55C;
  --accent-bg: #FFE0CB;
  --transition: all .4s;
}
.body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--general-bg);
  color: var(--general-text);
}
.body--opened-menu,
.body--opened-modal{
  overflow: hidden;
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}
.container {
  margin: 0 auto;
  max-width: 1300px;
  height: 100%;
  padding: 0 10px;
}
.title{
  font-family: 'Gabriola';
  color: var(--accent-text);
  font-size: 74px;
  line-height: 82%;
}
.button{
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  padding: 3px 15px;
  background: var(--accent-color);
  border-radius: 60px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.button:hover{
  background: #FF9138;
}
/* ============================================ */

.header {
  background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}
.header__top {
  padding-top: 19px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo{
  z-index: 5;
  max-width: 173px;
}
.header__logo img{
  width: 100%;
}
.nav__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.nav__link-circle  {
  padding: 5px 0;
  position: relative;
  z-index: 1;
}
.nav__link-circle::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 50px;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}
.nav__link-circle:hover::before{
  opacity: 1;
}
.burger-icon{
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.burger-icon span::before,
.burger-icon span::after,
.burger-icon span{
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  transition: var(--transition);
  background: var(--general-text);
}
.burger-icon span{
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after{
  position: absolute;
  content: '';
}
.burger-icon span::before{
  top: -8px;
}
.burger-icon span::after{
  bottom: -8px;
}
.body--opened-menu .burger-icon span{
  background: transparent;
}
.body--opened-menu .burger-icon span::before{
  top: 0;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
  bottom: 0;
  transform: rotate(-45deg);
}
/* ================================================= */

.hero {
  padding: 50px 0 140px;
}
.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}
.hero__content {
  max-width: 519px;
}
.hero__info {
  color: #b197b3;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.hero__info span{
  display: flex;
  align-items: center;
}
.hero__info span::after{
  content: '';
  background: #b197b3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  margin: 0 10px;
}
.hero__info span:last-child::after{
  content: none;
}
.hero__title {
  margin-bottom: 30px;
  max-width: 520px;
}
.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}
.hero__button{
  max-width: 358px;
  width: 100%;
}
.hero__img {
  margin-right: 247px;
  position: relative;
}
.hero__img>img{
  width: 100%;
}
.hero__img-control {
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 200px;
  gap: 10px;
  bottom: 11%;
  left: calc(100% - 39px);
}
.hero__img-control--mobile{
  display: none;
  margin-bottom: 10px;
}
.hero__img-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px 0px #b8947e4d;
  background: var(--accent-bg);
  position: relative;
}
.hero__img-button img{
  padding-left: 8.8%;
}
.hero__img-button::before{
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  inset: 5px;
  border-radius: 50%;
  transition: var(--transition);
  opacity: 0;
}
.hero__img-button:hover::before{
  opacity: 1; 
}
/* ================================================= */

.main__about{
  padding: 140px 0;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  gap: 40px 53px;
}
.about__img {
  grid-row: 1 / 3;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.about__gift {
  padding: 15px 20px;
  position: absolute;
  left: 5%;
  bottom: 4.6%;
  color: var(--general-bg);
  max-width: 299px;
  display: flex;
  gap: 10px;
  border-radius: 20px;
  background: #957b97e6;
}
.about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--general-bg);
  height: 78px;
  min-width: 78px;
  border-radius: 40px;
  position: relative;
}
.about__button::before{
  content: '';
  position: absolute;
  border-radius: 40px;
  transition: var(--transition);
  border: 1px solid #957b97e6;
  inset: 5px;
  opacity: 0;
}
.about__button:hover::before{
  opacity: 1;
}



.title-text{
  margin-bottom: 30px;
}
.about__cards {
  display: grid;
  width: 100%;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.about__cards-item {
  background: var(--accent-bg);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 29px 25px;
  gap: 15px;
}
.icon-circle {
  border: 1px solid var(--general-text);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* ============================================= */

.main__program{
  padding-bottom: 140px;
}
.program {
}
.program__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}
.program__title {
  margin-bottom: 20px;
}

.program__tab-content{
  margin-bottom: 40px;
}
.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.program__action {
  display: grid;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  width: 100%;
  gap: 40px;
  max-width: 501px;
  flex-shrink: 0;
}
.program__discount {
  font-size: 20px;
  background: var(--accent-bg);
  padding: 40px;
  border-radius: 20px;
  grid-row: 1/3;
}
.program__discount-value{
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: .82;
  color: var(--accent-color);
  transform-origin: 0 0;
  margin: 0 0 7px 13%;
  animation: discount-grow .8s linear infinite alternate;
}
@keyframes discount-grow {
  0%{
    color: var(--accent-color);
  }
  100%{
    transform: translate(3%) scale(1.1);
    color: #FF9138;
  }
}
.program__discount span{
  margin-left: 35%;
  font-size: 16px;
}
.program__price {
}
.program__price-text {
  line-height: 1.6;
  text-transform: uppercase;
  color: #ceaad0;
  margin-bottom: 5px;
}
.program__price-value {
  font-family: 'Gabriola';
  font-size: 32px;
  line-height: .9;
  color: var(--general-text);
}
.program__price-value--big{
  font-size: 50px;
  color: var(--accent-text);
}
.program__button{
  grid-column: 1/-1;
}
.program__img img{
  width: 100%;
}

.tab-controls {
  display: flex;
  gap: 26px;
}
.tab-controls__item {
  margin-bottom: 24px;
}
.tab-controls__link {
  white-space: nowrap;
  padding: 16px 30px;
  background: var(--general-bg);
  box-shadow: 0px 4px 20px 0px #cec3b94d;
  border-radius: 100px;
  transition: var(--transition);
}
.tab-controls__link:hover{
  background: var(--accent-bg);
}
.tab-controls__link--focus{
  background: var(--accent-bg);
  box-shadow: none;
}
.tab-content {
  display: none;
  opacity: 0;
  transition: var(--transition);
}
.tab-content--show{
  display: block;
  opacity: 1;
}
.accordion-list__item {
  border: 1px solid var(--accent-color);
  transition: var(--transition);
  border-radius: 20px;
  margin-bottom: 30px;
}
.accordion-list__item:last-child{
  margin-bottom: 0;
}
.accordion-list__control {
  padding: 40px 30px;
  width: 100%;
  background: transparent;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-family: 'Gabriola';
  font-size: 42px;
  line-height: 90%;
  color: var(--accent-text);
  transition: var(--transition);
}
.accordion-list__item--opened .accordion-list__control{
  padding-bottom: 20px;
}
.accordion-list__control-icon {
  transition: all .6s;
  width: 36px;
  height: 36px;
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.accordion-list__content {
  overflow: hidden;
  max-height: 0;
  transition: var(--transition);
}

.accordion-content {
  padding: 0 30px 40px;
  display: flex;
  gap: 80px;
}
.accordion-content__col {
  max-width: 507px;
  width: 100%;
}
.accordion-content__col:last-child{
  max-width: 633px;
}
.accordion-content__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ceaad0;
  line-height: 1.6;
}
.accordion-content__list {
}
.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.accordion-content__item:last-child{
  margin-bottom: 0;
}
.accordion-content__icon {
  border: 1px solid #ceaad0;
  padding: 7.2px;
  border-radius: 50%;
  width: 24;
  height: 24px;
}
.accordion-list__control:hover .accordion-list__control-icon{
  background: var(--accent-color);
  transform: rotate(90deg);
}
.accordion-list__control path{
  transition: var(--transition);
}
.accordion-list__control:hover path{
  fill: var(--general-bg);
}
.accordion-list__item--opened .accordion-list__control-icon{
  background: var(--accent-color);
  transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__control-icon path{
  fill: var(--general-bg);
}
.accordion-content__text {
  max-width: 274px;
}
/* ============================================= */
    /* modal window */
/* ============================================= */

.modal{
  position: fixed;
  inset: 0;
  background: #00000052;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  padding: 0 20px;
}
.body--opened-modal .modal{
  opacity: 1;
  visibility: visible;
}
.modal__window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: var(--general-bg);
  position: relative;
  padding: 0 60px 60px;
  max-width: 428px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 11;
}
.body--opened-modal .modal__window{
  visibility: visible;
  opacity: 1;
  transition: var(--transition);
  z-index: 11;
}
.modal__close{
  position: absolute;
  top: 4.1%;
  right: 4.7%;
  cursor: pointer;
}
.modal__close rect, 
.modal__close path{
  transition: all .5s;
}
.modal__close:hover rect, 
.modal__close:hover path{
  stroke: #AC907A;
}
.modal__window>img {
  max-width: 248px;
  margin: -64px 0 15px 20px;
}
.modal__title {
  font-family: 'Gabriola';
  color: var(--accent-text);
  font-size: 42px;
  line-height: 90%;
}
.modal__text {
  margin-top: 10px;
}
.modal__form-label{
  margin-bottom: 10px;
}
.field{
  position: relative;
  display: block;
}
.field span{
  left: 9.2%;
  top: 16%;
  color: #ac907a;
  font-size: 11px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.field__input{
  display: block;
  font-size: 15px;
  margin-top: 30px;
  border-radius: 60px;
  border: 1px solid #ac907a;
  transition: var(--transition);
  padding: 19px 42px 19px 28px;
  width: 100%;
}
.field__input::placeholder{
  color: #ac907a;
  transition: var(--transition);
  text-indent: -1px;
}
.field__input:hover{
  border: 1px solid var(--accent-color);
}
.field__input:hover::placeholder{
  color: var(--accent-color);
}
.field__input:focus{
  border: 1px solid var(--accent-color);
  padding: 26px 42px 12px 28px;
}
.field__input:focus + span{
  opacity: 1;
  visibility: visible;
}
.field__input:focus::placeholder{
  color: var(--accent-color);
}
.gift-button{
  width: 100%;
}


/* ================================================= */
/* ================================================= */
/* ================================================= */

.footer{
  background: #AB8261;
  padding: 30px 0 60px;
}
.footer__inner{
  display: grid;
  gap: 50px;
  grid-template-columns: .9fr .9fr 1.1fr auto;
  color: var(--general-bg);
  padding-top: 30px;
}
.footer__col-1{
  margin-top: -30px;
}
.logo-text{
  margin-bottom: 20px;
}
.footer__socials{
  line-height: 0;
  display: flex;
  gap: 15px;
}
.footer__item path{
  transition: var(--transition);
}
.footer__item:hover path{
  fill: var(--accent-color);
}
.footer__nav-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__nav-link{
  padding: 0;
}
.timetable{
  display: flex;
  gap: 10px;
  line-height: 160%;
}
.location{
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.number{
  font-size: 24px;
  font-weight: 500;
  transition: var(--transition);
}
.number:hover{
  color: var(--accent-color);
}
.copyright{
  gap: 5px;
  padding-left: 8px;
  padding-top: 47px;
  display: flex;
  color: #DEC5B1;
}
/* ================================================= */
/* ================================================= */
/* ================================================= */

@media (max-width: 1200px){
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 15px;
  }
  .hero__img{
    margin: 0;
    max-width: 377px;
  }
  /* ======================= */
  .program__top{
    flex-direction: column;
    align-items: stretch;
  }
  .tab-controls{
    padding-top: 40px;
    flex-wrap: wrap;
  }
  /* ======================= */
  .footer__inner{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__col-4{
    grid-column: 2 / 3;
  }
}

@media (max-width: 1100px){
  .about__img{
    grid-row: auto;
  }
  .about__desc{
    align-self: center;
  }
  .about__cards{
    grid-column: 1 / 3;
  }
  .accordion-list__control{
    font-size: 35px;
  }
  .accordion-content{
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 900px){
  .nav{
    background: var(--general-bg);
    position: fixed;
    z-index: 4;
    inset: 0;
    padding: 26vh 15px 30px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    font-size: 24px;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh 40px;
  }
  .body--opened-menu .nav{
    transform: translateY(0%);
    opacity: .95;
    visibility: visible;
  }
  .burger-icon{
    z-index: 5;
    display: flex;
  }
  
  /* ==================== */
  .program__action{
    max-width: none;
    grid-template: repeat(3, auto) / auto auto;
  }
  .program__img{
    display: none;
  }
  /* ==================== */

  .footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer__col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer__nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;}
  .footer__col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px){
  .hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .hero__text{
    margin-bottom: 20px;
  }
  .hero__img{
    display: none;
  }
  .hero__img-control--mobile{
    display: flex;
  }
  .hero__img-button{
    order: 2;
  }

  /* ============ */

  .about__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__img{
    max-width: 500px;
  }
  .about__desc{
    text-align: center;
  }
  .about__cards{
    grid-template: none;
  }
  /* ============ */
  .tab-controls{
    padding-top: 40px;
    gap: 10px;
  }
}

@media (max-width: 600px){
  .hero{
    padding-bottom: 80px;
  }
  .hero__title{
    font-size: 12vw;
  }

  /* ======================== */
  .main__about{
    padding: 80px 0;
  }
  .title{
    font-size: 12vw;
    text-align: center;
  }
  .about__gift{
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0%;
    max-width: none;
    padding: 10px 15px;
  }
  .gift-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__cards{
    gap: 15px;
  }
  .about__cards-item{
    padding: 10px 15px;
  }
  /* ================= */
  .main__program{
    padding-bottom: 80px;
  }
  .program__top{
    text-align: center;
    margin-bottom: 30px;
  }
  .tab-controls{
    justify-content: center;
  }
  .accordion-content{
    padding: 0 15px 15px;
  }
  .accordion-list__control{
    padding: 17px 30px;
    font-size: 28px;
  }
  .accordion-list__control-icon {
    width: 26px;
    height: 26px;
  }
  .accordion-list__control-icon svg {
    width: 10px;
  }
  .program__action{
    gap: 15px;
  }
  .program__discount{
    grid-row: auto;
    grid-column: 1/-1;
    justify-self: center;
  }
  .accordion-list__item{
    margin-bottom: 15px;
  }
  .accordion-content__item{
    margin-bottom: 10px;
  }
  .accordion-content__title{
    margin-bottom: 10px;
  }
}

@media (max-width: 450px){
  .program__top{
    margin-bottom: 20px;
  }
  .accordion-list__control{
    padding: 17px 15px;
  }
  .program__price{
    text-align: center;
  }
  .program__action{
    grid-template: none;
  }
  /* ======================= */
  .modal__window{
    display: flex;
    flex-direction: column;
    padding: 0 20px 40px;
    align-items: center;
  }
  .modal__title{
    text-align: center;
    font-size: 10vw;
  }
  .modal__text{
    text-align: center;
  }
  .modal__window>img{
    margin: -64px 0 15px 3%;
    width: 100%;
    padding: 0 15px;
  }
  .modal__form{
    width: 100%;
    max-width: 308px;
  }
}
